<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    <title>Login</title>
</head>
<body>

    <div class="flex-container">
        <form>
            <label>Nome</label>
            <input placeholder="Ex: Nome Sobrenome" type="text" required=""  maxlength="30">
            <label>CPF</label>
            <input placeholder="Ex: xxx.xxx.xxx-xx" type="text" required=""  maxlength="11">
            <label>Email</label>
            <input placeholder="Ex: contato@dominio.com.br" type="email" required=""  maxlength="30">
            <label>Senha</label>
            <input placeholder="senha123*" type="password" required="" maxlength="15">
            <label>Confir. Senha</label>
            <input placeholder="senha123*" type="password" required="" maxlength="15">
            <button>Cadastrar</button>
        </form>
        <button class="button" onclick="redIndex()" id="button">Voltar</button>
    </div>

    <script src="/styles/script.js"></script>
</body>
</html>